# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Weird stuff from AVR
*.elf
*.eep
*.map
*.sym
*.lss
*.lst
